*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(234,234,234);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.foto-celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.foto-celular img{
    height: 50rem;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;

}

.logo-insta{
    height: 3rem;
    
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}

.profile img{

    height: 6rem;
    
}

.grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.grupo:nth-child(1){
    min-height: 19rem;
}

.login-conta{
    background: #0095f6;
    color: #ffffffff;
    padding: 8px ;
    margin: 1rem 0;
    border-radius: 4px;
}

.logout-conta{
    color: #0095f6;
}

.grupo span{
    color: #0095f6;
}

.logout-signup{
    color: rgb(160, 160, 160);
}

.apps{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

.app-download img{
    height: 3rem;
    width: 10rem;
    background: cover;
}


/* media queries */

@media (max-width:1024px) {
    .container{
        width: 90%;
    }
}

@media (max-width:670px){
    .container{
        width: 90%;
    }

    .foto-celular{
        display: none;
    }

    .login{
        width: 100%;
    }

    body{
        background: white;
    }

    .grupo{
        border: none;
    }
}